@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-auth-bg-light: #475D92;
  --color-auth-bg-dark: #1E2037;
  --color-auth-btn-light: #7D5260;
  --color-auth-btn-dark: #9B6B7D;
  --color-watched-fill: #A1DD70;
  --color-watched-border: #799351;
  --color-want-fill: #EE4E4E;
  --color-want-border: #DF2E38;
  --color-star: #FFD700;
}

@layer base {
  html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
  }

  body {
    @apply bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-white;
  }
}
